In [31]:
import requests
import os 
from dotenv import load_dotenv

load_dotenv()

# API-nyckel
api_key = os.getenv("CMC_API_KEY")

url = "https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest"

# Headers med API-nyckel
headers = {
    "Accepts": "application/json",
    "X-CMC_PRO_API_KEY": api_key
}

# Skicka GET-förfrågan
response = requests.get(url, headers=headers)

# Kolla om hämtningen lyckades
if response.status_code == 200:
    data = response.json()

else:
    print("Fel:", response.status_code, response.text)

In [32]:
import pandas as pd

df = pd.DataFrame(data["data"])

print(df.head())

     id         name symbol      slug  num_market_pairs  \
0     1      Bitcoin    BTC   bitcoin             11937
1  1027     Ethereum    ETH  ethereum              9926
2   825  Tether USDt   USDT    tether            116288
3    52          XRP    XRP       xrp              1528
4  5426       Solana    SOL    solana               840

                 date_added  \
0  2010-07-13T00:00:00.000Z
1  2015-08-07T00:00:00.000Z
2  2015-02-25T00:00:00.000Z
3  2013-08-04T00:00:00.000Z
4  2020-04-10T00:00:00.000Z

                                                tags    max_supply  \
0  [mineable, pow, sha-256, store-of-value, state...  2.100000e+07
1  [pos, smart-contracts, ethereum-ecosystem, coi...           NaN
2  [stablecoin, asset-backed-stablecoin, ethereum...           NaN
3  [medium-of-exchange, enterprise-solutions, xrp...  1.000000e+11
4  [pos, platform, solana-ecosystem, cms-holdings...           NaN

   circulating_supply  total_supply  infinite_supply  \
0        1.982313e+07  1.982313e+07            False
1        1.205431e+08  1.205431e+08             True
2        1.419533e+11  1.435706e+11             True
3        5.776255e+10  9.998650e+10            False
4        4.881845e+08  5.939262e+08             True

                                            platform  cmc_rank  \
0                                               None         1
1                                               None         2
2  {'id': 1027, 'name': 'Ethereum', 'symbol': 'ET...         3
3                                               None         4
4                                               None         5

   self_reported_circulating_supply  self_reported_market_cap  tvl_ratio  \
0                               NaN                       NaN        NaN
1                               NaN                       NaN        NaN
2                               NaN                       NaN        NaN
3                               NaN                       NaN        NaN
4                               NaN                       NaN        NaN

               last_updated                                              quote
0  2025-02-12T08:56:00.000Z  {'USD': {'price': 96381.94618672601, 'volume_2...
1  2025-02-12T08:57:00.000Z  {'USD': {'price': 2630.129928040528, 'volume_2...
2  2025-02-12T08:57:00.000Z  {'USD': {'price': 0.9999888420893037, 'volume_...
3  2025-02-12T08:57:00.000Z  {'USD': {'price': 2.421723130918302, 'volume_2...
4  2025-02-12T08:57:00.000Z  {'USD': {'price': 196.37771410900788, 'volume_...

In [33]:
df.columns

Index(['id', 'name', 'symbol', 'slug', 'num_market_pairs', 'date_added',
       'tags', 'max_supply', 'circulating_supply', 'total_supply',
       'infinite_supply', 'platform', 'cmc_rank',
       'self_reported_circulating_supply', 'self_reported_market_cap',
       'tvl_ratio', 'last_updated', 'quote'],
      dtype='object')

In [34]:
print(df.describe())

                 id  num_market_pairs    max_supply  circulating_supply  \
count    100.000000        100.000000  3.900000e+01        1.000000e+02
mean   10925.700000       2131.570000  1.317773e+13        2.083858e+13
std    10456.532682      11898.824065  6.859533e+13        1.214036e+14
min        1.000000         29.000000  1.005577e+06        2.465240e+05
25%     3135.500000        230.500000  4.335844e+08        2.925796e+08
50%     6587.000000        416.500000  1.818000e+09        1.191947e+09
75%    19108.250000        657.750000  1.935201e+10        5.961893e+09
max    35347.000000     116288.000000  4.206900e+14        9.860611e+14

       total_supply    cmc_rank  self_reported_circulating_supply  \
count  1.000000e+02  100.000000                      3.400000e+01
mean   2.100048e+13   50.500000                      2.550376e+12
std    1.217917e+14   29.011492                      1.328625e+13
min    2.465240e+05    1.000000                      4.845000e+04
25%    4.354159e+08   25.750000                      2.684622e+08
50%    1.555047e+09   50.500000                      1.005426e+09
75%    1.000000e+10   75.250000                      3.037280e+09
max    9.900000e+14  100.000000                      7.719862e+13

       self_reported_market_cap  tvl_ratio
count              3.400000e+01   6.000000
mean               2.336580e+09   0.430559
std                2.936190e+09   0.405799
min                1.937512e+07   0.057548
25%                6.958663e+08   0.198261
50%                1.277412e+09   0.220453
75%                2.639793e+09   0.727186
max                1.234030e+10   0.997941

In [35]:
print(df.isnull().sum())

id                                   0
name                                 0
symbol                               0
slug                                 0
num_market_pairs                     0
date_added                           0
tags                                 0
max_supply                          61
circulating_supply                   0
total_supply                         0
infinite_supply                      0
platform                            45
cmc_rank                             0
self_reported_circulating_supply    66
self_reported_market_cap            66
tvl_ratio                           94
last_updated                         0
quote                                0
dtype: int64

In [36]:
print(df["quote"])

0     {'USD': {'price': 96381.94618672601, 'volume_2...
1     {'USD': {'price': 2630.129928040528, 'volume_2...
2     {'USD': {'price': 0.9999888420893037, 'volume_...
3     {'USD': {'price': 2.421723130918302, 'volume_2...
4     {'USD': {'price': 196.37771410900788, 'volume_...
                            ...
95    {'USD': {'price': 3.832762608318638, 'volume_2...
96    {'USD': {'price': 2.061908046333519, 'volume_2...
97    {'USD': {'price': 0.5281979968660654, 'volume_...
98    {'USD': {'price': 0.7180087786261854, 'volume_...
99    {'USD': {'price': 22.72198397674581, 'volume_2...
Name: quote, Length: 100, dtype: object

In [37]:
print(df.dtypes)

id                                    int64
name                                 object
symbol                               object
slug                                 object
num_market_pairs                      int64
date_added                           object
tags                                 object
max_supply                          float64
circulating_supply                  float64
total_supply                        float64
infinite_supply                        bool
platform                             object
cmc_rank                              int64
self_reported_circulating_supply    float64
self_reported_market_cap            float64
tvl_ratio                           float64
last_updated                         object
quote                                object
dtype: object

In [38]:
print(df['symbol'].unique())

['BTC' 'ETH' 'USDT' 'XRP' 'SOL' 'BNB' 'USDC' 'DOGE' 'ADA' 'TRX' 'LINK'
 'AVAX' 'SUI' 'XLM' 'TON' 'SHIB' 'LEO' 'LTC' 'HBAR' 'HYPE' 'DOT' 'BGB'
 'BCH' 'USDe' 'OM' 'UNI' 'DAI' 'ONDO' 'XMR' 'PEPE' 'NEAR' 'AAVE' 'MNT'
 'ICP' 'APT' 'TAO' 'ETC' 'TRUMP' 'OKB' 'VET' 'POL' 'KAS' 'CRO' 'ALGO'
 'RENDER' 'JUP' 'FIL' 'ARB' 'GT' 'ATOM' 'FDUSD' 'FET' 'TIA' 'DEXE' 'RAY'
 'KCS' 'OP' 'LDO' 'STX' 'INJ' 'IMX' 'S' 'XDC' 'ENA' 'BONK' 'THETA' 'GRT'
 'MOVE' 'WLD' 'FLR' 'JASMY' 'QNT' 'SEI' 'EOS' 'SAND' 'ENS' 'XTZ' 'FLOKI'
 'VIRTUAL' 'BTT' 'NEXO' 'IOTA' 'GALA' 'MKR' 'FLOW' 'JTO' 'KAIA' 'NEO'
 'BSV' 'PYTH' 'RON' 'XAUt' 'XCN' 'AXS' 'MELANIA' 'HNT' 'FTT' 'CRV' 'SPX'
 'EGLD']

In [39]:
print(df[df['symbol'] == 'DOGE'])

   id      name symbol      slug  num_market_pairs                date_added  \
7  74  Dogecoin   DOGE  dogecoin              1163  2013-12-15T00:00:00.000Z

                                                tags  max_supply  \
7  [mineable, pow, scrypt, medium-of-exchange, me...         NaN

   circulating_supply  total_supply  infinite_supply platform  cmc_rank  \
7        1.480124e+11  1.480124e+11             True     None         8

   self_reported_circulating_supply  self_reported_market_cap  tvl_ratio  \
7                               NaN                       NaN        NaN

               last_updated                                              quote
7  2025-02-12T08:57:00.000Z  {'USD': {'price': 0.2549349749585998, 'volume_...

In [40]:
doge_info = df[df['symbol'] == 'DOGE']
doge_info[['date_added','slug','tags','max_supply']]

,date_added,slug,tags,max_supply
7,2013-12-15T00:00:00.000Z,dogecoin,"[mineable, pow, scrypt, medium-of-exchange, me...",NaN

In [43]:
from requests import Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

url = 'https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {
  'start':'1',
  'limit':'10',
  'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': api_key,
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data_02 = json.loads(response.text)
  
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

In [51]:
df_02 = pd.DataFrame(data_02["data"])
df_02['name']

0    5a57d3xz9zm
1    sdz5r9thlfg
2    utc5k7n2r6p
3    27yjd7w0p3e
4    wftn7z1c5rn
5    qkzwqlju0pj
6    339ssreubko
7    c0yl2pe0wj8
8    izbyjvbd2vp
9    3xchu5fkrd8
Name: name, dtype: object

In [55]:
data_02['data']

[{'id': 2916,
  'name': '5a57d3xz9zm',
  'symbol': 'j6t4r81h63c',
  'slug': 'kvqpor60lqj',
  'cmc_rank': 8484,
  'num_market_pairs': 9216,
  'circulating_supply': 1613,
  'total_supply': 7754,
  'max_supply': 9029,
  'infinite_supply': None,
  'last_updated': '2025-02-12T08:59:37.071Z',
  'date_added': '2025-02-12T08:59:37.071Z',
  'tags': ['uk7st8y83kj',
   'vi1lu7dy96a',
   'unpnpes6vq',
   'qxrk8ksd5u8',
   '3c84mk6a9bl',
   '9bw6yw8otf',
   'uqpbetiplni',
   'jij5q41kwji',
   'cpkguk8iux',
   '02nk8qmsqlc7'],
  'platform': None,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'quote': {'USD': {'price': 0.2439533940485321,
    'volume_24h': 9635,
    'volume_change_24h': 0.8852423626306443,
    'percent_change_1h': 0.529999801703303,
    'percent_change_24h': 0.028357074806003135,
    'percent_change_7d': 0.6355364482710528,
    'market_cap': 0.7016974791527877,
    'market_cap_dominance': 710,
    'fully_diluted_market_cap': 0.9136422017702761,
    'last_updated': '2025-02-12T08:59:37.072Z'}}},
 {'id': 583,
  'name': 'sdz5r9thlfg',
  'symbol': 'vwi91977hjc',
  'slug': '3mhk6dvhx9w',
  'cmc_rank': 3493,
  'num_market_pairs': 265,
  'circulating_supply': 1028,
  'total_supply': 6535,
  'max_supply': 3160,
  'infinite_supply': None,
  'last_updated': '2025-02-12T08:59:37.072Z',
  'date_added': '2025-02-12T08:59:37.072Z',
  'tags': ['mncuhxdc9dg',
   'ths4glhehsb',
   'zmf5v1kc7c',
   'dhf4fx4kui',
   'hjifo7qkccu',
   'm7uaasc9p8l',
   'zliwv3zfi0n',
   '4y0yvoklazq',
   'rlapy9wy3l',
   '2u1bqn8vzjj'],
  'platform': None,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'quote': {'USD': {'price': 0.8922492647723876,
    'volume_24h': 5988,
    'volume_change_24h': 0.6609992776434068,
    'percent_change_1h': 0.9798032989093359,
    'percent_change_24h': 0.07826152812691212,
    'percent_change_7d': 0.1827954948372077,
    'market_cap': 0.04444327281795779,
    'market_cap_dominance': 8980,
    'fully_diluted_market_cap': 0.18940900218401513,
    'last_updated': '2025-02-12T08:59:37.072Z'}}},
 {'id': 8354,
  'name': 'utc5k7n2r6p',
  'symbol': 'rap9eibq6b',
  'slug': '8jq21dl80f',
  'cmc_rank': 1653,
  'num_market_pairs': 9183,
  'circulating_supply': 6460,
  'total_supply': 1104,
  'max_supply': 3152,
  'infinite_supply': None,
  'last_updated': '2025-02-12T08:59:37.072Z',
  'date_added': '2025-02-12T08:59:37.072Z',
  'tags': ['3pe51v7mdvj',
   'wo3c1zgc8g',
   'odc3wgtucsb',
   'dadt36c7c38',
   'kr9brjv6ho',
   'l3y03r8ba6',
   '77jbtcjhxdp',
   '7kfhj5atdx5',
   '8qhjqma4ee5',
   'cxsnc2tufc'],
  'platform': None,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'quote': {'USD': {'price': 0.2728161997143952,
    'volume_24h': 1306,
    'volume_change_24h': 0.47257007484744173,
    'percent_change_1h': 0.4128999934188824,
    'percent_change_24h': 0.9978680527961303,
    'percent_change_7d': 0.469325176852047,
    'market_cap': 0.6847919412524837,
    'market_cap_dominance': 6485,
    'fully_diluted_market_cap': 0.11762524737540092,
    'last_updated': '2025-02-12T08:59:37.072Z'}}},
 {'id': 7067,
  'name': '27yjd7w0p3e',
  'symbol': '1wnchkq554k',
  'slug': 'u2hl2m2csi9',
  'cmc_rank': 229,
  'num_market_pairs': 6729,
  'circulating_supply': 8645,
  'total_supply': 682,
  'max_supply': 3170,
  'infinite_supply': None,
  'last_updated': '2025-02-12T08:59:37.072Z',
  'date_added': '2025-02-12T08:59:37.072Z',
  'tags': ['l7fypq6040a',
   'nlxcu4jgspj',
   'bnzo6v15xeu',
   '5ri4oqqegfq',
   'hende4h03ug',
   '10n4mkk8uoe',
   'k61n9si34ci',
   'q54bwfsm1gh',
   'vmgh1a5s9jl',
   't4jc2jq3m68'],
  'platform': None,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'quote': {'USD': {'price': 0.9377291053245691,
    'volume_24h': 1484,
    'volume_change_24h': 0.6608439073284806,
    'percent_change_1h': 0.19412335631834265,
    'percent_change_24h': 0.2614518229125653,
    'percent_change_7d': 0.036130723724379976,
    'market_cap': 0.44927695059352035,
    'market_cap_dominance': 8992,
    'fully_diluted_market_cap': 0.26936052076577455,
    'last_updated': '2025-02-12T08:59:37.072Z'}}},
 {'id': 4015,
  'name': 'wftn7z1c5rn',
  'symbol': 'tizc1y1i6',
  'slug': 'yske28fx1qq',
  'cmc_rank': 6527,
  'num_market_pairs': 8126,
  'circulating_supply': 2009,
  'total_supply': 4058,
  'max_supply': 3194,
  'infinite_supply': None,
  'last_updated': '2025-02-12T08:59:37.072Z',
  'date_added': '2025-02-12T08:59:37.072Z',
  'tags': ['4m4zo12f5ep',
   'wtiwsdhw6sq',
   '7lwekf9cysw',
   'nq54m8ppnnf',
   '430mloqra08',
   'bf1vtpp6ho5',
   'ztxuok6h8t9',
   '34zvijugktz',
   'aiv4iv0rim8',
   '1pug9jc9y5ig'],
  'platform': None,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'quote': {'USD': {'price': 0.5205727534583606,
    'volume_24h': 4869,
    'volume_change_24h': 0.7864183414275265,
    'percent_change_1h': 0.2632821754412096,
    'percent_change_24h': 0.4156606050023388,
    'percent_change_7d': 0.20561207722520103,
    'market_cap': 0.42798664577073664,
    'market_cap_dominance': 4812,
    'fully_diluted_market_cap': 0.40341597142831276,
    'last_updated': '2025-02-12T08:59:37.072Z'}}},
 {'id': 884,
  'name': 'qkzwqlju0pj',
  'symbol': 'nyk1tppvin',
  'slug': 'dka4mll0vjl',
  'cmc_rank': 4605,
  'num_market_pairs': 9655,
  'circulating_supply': 4609,
  'total_supply': 1217,
  'max_supply': 6802,
  'infinite_supply': None,
  'last_updated': '2025-02-12T08:59:37.072Z',
  'date_added': '2025-02-12T08:59:37.072Z',
  'tags': ['qrjvgoiqi7',
   'dimx0notfdk',
   '0og0avr9kun',
   'gqjgrlbknsm',
   'k7qtk90cjq',
   '83shvcynwtm',
   'qr7krvhhojr',
   'gj6x922ktj',
   'c44rtwp3zcm',
   'x9xjm22wkar'],
  'platform': None,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'quote': {'USD': {'price': 0.4432338233767885,
    'volume_24h': 8530,
    'volume_change_24h': 0.7139035602666759,
    'percent_change_1h': 0.7160941193826984,
    'percent_change_24h': 0.3288631838003351,
    'percent_change_7d': 0.7527134585256261,
    'market_cap': 0.5263083066053775,
    'market_cap_dominance': 891,
    'fully_diluted_market_cap': 0.9759744897763938,
    'last_updated': '2025-02-12T08:59:37.072Z'}}},
 {'id': 515,
  'name': '339ssreubko',
  'symbol': 'f24v57n27df',
  'slug': 'xnx9m8cby3',
  'cmc_rank': 3128,
  'num_market_pairs': 2391,
  'circulating_supply': 8738,
  'total_supply': 3526,
  'max_supply': 243,
  'infinite_supply': None,
  'last_updated': '2025-02-12T08:59:37.072Z',
  'date_added': '2025-02-12T08:59:37.072Z',
  'tags': ['s62875pxksh',
   'utn20cev8v9',
   '1fh39fe38m7',
   '8jzbrqys01o',
   'sr3mtyif8j',
   'd4z7p90ksik',
   '1k8dberrc8',
   'ssy4uv8194',
   'lv8n042a6ks',
   'sk8cpump64i'],
  'platform': None,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'quote': {'USD': {'price': 0.895465100954429,
    'volume_24h': 2967,
    'volume_change_24h': 0.1877785468801385,
    'percent_change_1h': 0.23351767665782952,
    'percent_change_24h': 0.6556197013763168,
    'percent_change_7d': 0.5848941847990539,
    'market_cap': 0.4919128788224665,
    'market_cap_dominance': 781,
    'fully_diluted_market_cap': 0.9173243664087025,
    'last_updated': '2025-02-12T08:59:37.072Z'}}},
 {'id': 8127,
  'name': 'c0yl2pe0wj8',
  'symbol': 'udb8l8ipg6',
  'slug': 'dsluh9n7i5r',
  'cmc_rank': 8085,
  'num_market_pairs': 1324,
  'circulating_supply': 4103,
  'total_supply': 1566,
  'max_supply': 3235,
  'infinite_supply': None,
  'last_updated': '2025-02-12T08:59:37.072Z',
  'date_added': '2025-02-12T08:59:37.072Z',
  'tags': ['aul369ht7ig',
   '6o6b3x3xejm',
   'okqk07rf3p',
   'u9pz57rh6b',
   'kyqcu9vyb3s',
   '86d13gql82g',
   '7ekodpme8jv',
   'w03wusdkikr',
   'omi148396g',
   'zzuy4v2k9z'],
  'platform': None,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'quote': {'USD': {'price': 0.40496304226527746,
    'volume_24h': 2941,
    'volume_change_24h': 0.44046263218978554,
    'percent_change_1h': 0.0477941295705524,
    'percent_change_24h': 0.33147193870799874,
    'percent_change_7d': 0.9301476138524492,
    'market_cap': 0.5471021192129231,
    'market_cap_dominance': 6735,
    'fully_diluted_market_cap': 0.8993199795339306,
    'last_updated': '2025-02-12T08:59:37.072Z'}}},
 {'id': 7723,
  'name': 'izbyjvbd2vp',
  'symbol': 'dcadh290czg',
  'slug': 'x64mxkffa5j',
  'cmc_rank': 7025,
  'num_market_pairs': 6623,
  'circulating_supply': 5799,
  'total_supply': 9979,
  'max_supply': 8542,
  'infinite_supply': None,
  'last_updated': '2025-02-12T08:59:37.072Z',
  'date_added': '2025-02-12T08:59:37.072Z',
  'tags': ['kbrgdodnks8',
   'ou5klv3bom',
   'xy41rd4q31',
   'i6aeccrrp8k',
   'n5kums0zn8e',
   'v8kkm4ms6a9',
   'ctktbtduo05',
   '4mwc381727k',
   '4onztcqnuav',
   'zyfgi3ioda'],
  'platform': None,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'quote': {'USD': {'price': 0.3997053768015877,
    'volume_24h': 6719,
    'volume_change_24h': 0.7538597633510735,
    'percent_change_1h': 0.20068578404081827,
    'percent_change_24h': 0.3126501606702601,
    'percent_change_7d': 0.45876384810309245,
    'market_cap': 0.388049754400436,
    'market_cap_dominance': 5576,
    'fully_diluted_market_cap': 0.9305056350433412,
    'last_updated': '2025-02-12T08:59:37.072Z'}}},
 {'id': 5796,
  'name': '3xchu5fkrd8',
  'symbol': 'c8dsw2i7i98',
  'slug': 'm0r4cqhjcg',
  'cmc_rank': 6444,
  'num_market_pairs': 5441,
  'circulating_supply': 1224,
  'total_supply': 1398,
  'max_supply': 4619,
  'infinite_supply': None,
  'last_updated': '2025-02-12T08:59:37.072Z',
  'date_added': '2025-02-12T08:59:37.072Z',
  'tags': ['cyhk33he71n',
   'zq5n6e4ewff',
   '6q6kts7r8kh',
   'ucxd76zdib',
   'vvx0ypm3ip',
   'efv2kb7l8x',
   'etmx0mbk4ni',
   'omilde0son',
   'ghb8efudzbo',
   'uqozvxpdf8j'],
  'platform': None,
  'self_reported_circulating_supply': None,
  'self_reported_market_cap': None,
  'quote': {'USD': {'price': 0.8590958659849435,
    'volume_24h': 3371,
    'volume_change_24h': 0.6473738141860168,
    'percent_change_1h': 0.28428551330756835,
    'percent_change_24h': 0.8523144979510269,
    'percent_change_7d': 0.3183737711353829,
    'market_cap': 0.02812857018320769,
    'market_cap_dominance': 7977,
    'fully_diluted_market_cap': 0.984016322012067,
    'last_updated': '2025-02-12T08:59:37.072Z'}}}]

In [52]:
df_02.columns

Index(['id', 'name', 'symbol', 'slug', 'cmc_rank', 'num_market_pairs',
       'circulating_supply', 'total_supply', 'max_supply', 'infinite_supply',
       'last_updated', 'date_added', 'tags', 'platform',
       'self_reported_circulating_supply', 'self_reported_market_cap',
       'quote'],
      dtype='object')

In [56]:
df_02.dtypes

id                                   int64
name                                object
symbol                              object
slug                                object
cmc_rank                             int64
num_market_pairs                     int64
circulating_supply                   int64
total_supply                         int64
max_supply                           int64
infinite_supply                     object
last_updated                        object
date_added                          object
tags                                object
platform                            object
self_reported_circulating_supply    object
self_reported_market_cap            object
quote                               object
dtype: object

In [53]:
df_02['symbol']

0    j6t4r81h63c
1    vwi91977hjc
2     rap9eibq6b
3    1wnchkq554k
4      tizc1y1i6
5     nyk1tppvin
6    f24v57n27df
7     udb8l8ipg6
8    dcadh290czg
9    c8dsw2i7i98
Name: symbol, dtype: object

In [58]:
df_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                10 non-null     int64
 1   name                              10 non-null     object
 2   symbol                            10 non-null     object
 3   slug                              10 non-null     object
 4   cmc_rank                          10 non-null     int64
 5   num_market_pairs                  10 non-null     int64
 6   circulating_supply                10 non-null     int64
 7   total_supply                      10 non-null     int64
 8   max_supply                        10 non-null     int64
 9   infinite_supply                   0 non-null      object
 10  last_updated                      10 non-null     object
 11  date_added                        10 non-null     object
 12  tags                              10 non-null     object
 13  platform                          0 non-null      object
 14  self_reported_circulating_supply  0 non-null      object
 15  self_reported_market_cap          0 non-null      object
 16  quote                             10 non-null     object
dtypes: int64(6), object(11)
memory usage: 1.5+ KB

In [59]:
df_02.describe()

,id,cmc_rank,num_market_pairs,circulating_supply,total_supply,max_supply
count,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,4598.000000,4967.300000,5895.300000,4422.800000,3781.900000,4514.600000
std,3225.111368,2790.033574,3452.141978,2945.945832,3263.524593,2768.279698
min,515.000000,229.000000,265.000000,1028.000000,682.000000,243.000000
25%,1392.000000,3219.250000,3153.500000,1712.000000,1262.250000,3162.500000
50%,4905.500000,5524.500000,6676.000000,4356.000000,2546.000000,3214.500000
75%,7559.000000,6900.500000,8918.750000,6294.750000,5915.750000,6256.250000
max,8354.000000,8484.000000,9655.000000,8738.000000,9979.000000,9029.000000

In [ ]:
df_02[['cmc_rank','id','symbol','name','date_added']]

#latest havent recieved any names yet

   cmc_rank    id       symbol         name                date_added
0      8484  2916  j6t4r81h63c  5a57d3xz9zm  2025-02-12T08:59:37.071Z
1      3493   583  vwi91977hjc  sdz5r9thlfg  2025-02-12T08:59:37.072Z
2      1653  8354   rap9eibq6b  utc5k7n2r6p  2025-02-12T08:59:37.072Z
3       229  7067  1wnchkq554k  27yjd7w0p3e  2025-02-12T08:59:37.072Z
4      6527  4015    tizc1y1i6  wftn7z1c5rn  2025-02-12T08:59:37.072Z
5      4605   884   nyk1tppvin  qkzwqlju0pj  2025-02-12T08:59:37.072Z
6      3128   515  f24v57n27df  339ssreubko  2025-02-12T08:59:37.072Z
7      8085  8127   udb8l8ipg6  c0yl2pe0wj8  2025-02-12T08:59:37.072Z
8      7025  7723  dcadh290czg  izbyjvbd2vp  2025-02-12T08:59:37.072Z
9      6444  5796  c8dsw2i7i98  3xchu5fkrd8  2025-02-12T08:59:37.072Z