In [66]:
import requests
import os 
from dotenv import load_dotenv

load_dotenv()

# API-nyckel
api_key = os.getenv("CMC_API_KEY")

url = "https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest"

# Headers med API-nyckel
headers = {
    "Accepts": "application/json",
    "X-CMC_PRO_API_KEY": api_key
}

# Skicka GET-förfrågan
response = requests.get(url, headers=headers)

# Kolla om hämtningen lyckades
if response.status_code == 200:
    data = response.json()
    
else:
    print("Fel:", response.status_code, response.text)

In [67]:
import pandas as pd

df = pd.DataFrame(data["data"])

print(df.head())

     id         name symbol      slug  num_market_pairs  \
0     1      Bitcoin    BTC   bitcoin             11937
1  1027     Ethereum    ETH  ethereum              9926
2   825  Tether USDt   USDT    tether            116322
3    52          XRP    XRP       xrp              1528
4  5426       Solana    SOL    solana               840

                 date_added  \
0  2010-07-13T00:00:00.000Z
1  2015-08-07T00:00:00.000Z
2  2015-02-25T00:00:00.000Z
3  2013-08-04T00:00:00.000Z
4  2020-04-10T00:00:00.000Z

                                                tags    max_supply  \
0  [mineable, pow, sha-256, store-of-value, state...  2.100000e+07
1  [pos, smart-contracts, ethereum-ecosystem, coi...           NaN
2  [stablecoin, asset-backed-stablecoin, ethereum...           NaN
3  [medium-of-exchange, enterprise-solutions, xrp...  1.000000e+11
4  [pos, platform, solana-ecosystem, cms-holdings...           NaN

   circulating_supply  total_supply  infinite_supply  \
0        1.982315e+07  1.982315e+07            False
1        1.205431e+08  1.205431e+08             True
2        1.419533e+11  1.435706e+11             True
3        5.776255e+10  9.998650e+10            False
4        4.881844e+08  5.939261e+08             True

                                            platform  cmc_rank  \
0                                               None         1
1                                               None         2
2  {'id': 1027, 'name': 'Ethereum', 'symbol': 'ET...         3
3                                               None         4
4                                               None         5

   self_reported_circulating_supply  self_reported_market_cap  tvl_ratio  \
0                               NaN                       NaN        NaN
1                               NaN                       NaN        NaN
2                               NaN                       NaN        NaN
3                               NaN                       NaN        NaN
4                               NaN                       NaN        NaN

               last_updated                                              quote
0  2025-02-12T11:55:00.000Z  {'USD': {'price': 96098.82112379641, 'volume_2...
1  2025-02-12T11:55:00.000Z  {'USD': {'price': 2625.0131501310025, 'volume_...
2  2025-02-12T11:55:00.000Z  {'USD': {'price': 0.999944299220276, 'volume_2...
3  2025-02-12T11:55:00.000Z  {'USD': {'price': 2.4214724265592356, 'volume_...
4  2025-02-12T11:55:00.000Z  {'USD': {'price': 196.96373922284434, 'volume_...

In [68]:
df.columns

Index(['id', 'name', 'symbol', 'slug', 'num_market_pairs', 'date_added',
       'tags', 'max_supply', 'circulating_supply', 'total_supply',
       'infinite_supply', 'platform', 'cmc_rank',
       'self_reported_circulating_supply', 'self_reported_market_cap',
       'tvl_ratio', 'last_updated', 'quote'],
      dtype='object')

In [69]:
print(df.describe())

                 id  num_market_pairs    max_supply  circulating_supply  \
count    100.000000        100.000000  3.900000e+01        1.000000e+02
mean   10928.640000       2145.500000  1.317774e+13        2.083858e+13
std    10455.428368      11900.854126  6.859533e+13        1.214036e+14
min        1.000000         29.000000  1.005577e+06        2.465240e+05
25%     3135.500000        230.500000  5.470844e+08        2.926567e+08
50%     6587.000000        431.500000  1.818000e+09        1.189138e+09
75%    19108.250000        673.000000  1.935201e+10        5.961054e+09
max    35347.000000     116322.000000  4.206900e+14        9.860611e+14

       total_supply    cmc_rank  self_reported_circulating_supply  \
count  1.000000e+02  100.000000                      3.300000e+01
mean   2.100049e+13   50.500000                      2.627658e+12
std    1.217917e+14   29.011492                      1.348448e+13
min    2.465240e+05    1.000000                      4.845000e+04
25%    4.354162e+08   25.750000                      3.339317e+08
50%    1.555047e+09   50.500000                      1.010940e+09
75%    1.000000e+10   75.250000                      3.089707e+09
max    9.900000e+14  100.000000                      7.719856e+13

       self_reported_market_cap  tvl_ratio
count              3.300000e+01   7.000000
mean               2.388637e+09   0.419924
std                2.977656e+09   0.368288
min                1.927677e+07   0.057171
25%                7.161995e+08   0.205507
50%                1.299395e+09   0.222625
75%                2.705569e+09   0.627042
max                1.248852e+10   0.994578

In [70]:
print(df.isnull().sum())

id                                   0
name                                 0
symbol                               0
slug                                 0
num_market_pairs                     0
date_added                           0
tags                                 0
max_supply                          61
circulating_supply                   0
total_supply                         0
infinite_supply                      0
platform                            44
cmc_rank                             0
self_reported_circulating_supply    67
self_reported_market_cap            67
tvl_ratio                           93
last_updated                         0
quote                                0
dtype: int64

In [71]:
print(df["quote"])

0     {'USD': {'price': 96098.82112379641, 'volume_2...
1     {'USD': {'price': 2625.0131501310025, 'volume_...
2     {'USD': {'price': 0.999944299220276, 'volume_2...
3     {'USD': {'price': 2.4214724265592356, 'volume_...
4     {'USD': {'price': 196.96373922284434, 'volume_...
                            ...
95    {'USD': {'price': 0.7219290005192454, 'volume_...
96    {'USD': {'price': 0.5209681340509879, 'volume_...
97    {'USD': {'price': 2.0155191104503007, 'volume_...
98    {'USD': {'price': 3.7029107470187106, 'volume_...
99    {'USD': {'price': 2.177290795620698, 'volume_2...
Name: quote, Length: 100, dtype: object

In [72]:
print(df.dtypes)

id                                    int64
name                                 object
symbol                               object
slug                                 object
num_market_pairs                      int64
date_added                           object
tags                                 object
max_supply                          float64
circulating_supply                  float64
total_supply                        float64
infinite_supply                        bool
platform                             object
cmc_rank                              int64
self_reported_circulating_supply    float64
self_reported_market_cap            float64
tvl_ratio                           float64
last_updated                         object
quote                                object
dtype: object

In [73]:
print(df['symbol'].unique())

['BTC' 'ETH' 'USDT' 'XRP' 'SOL' 'BNB' 'USDC' 'DOGE' 'ADA' 'TRX' 'LINK'
 'AVAX' 'SUI' 'XLM' 'SHIB' 'TON' 'LEO' 'LTC' 'HBAR' 'HYPE' 'DOT' 'BGB'
 'BCH' 'USDe' 'OM' 'UNI' 'DAI' 'ONDO' 'XMR' 'PEPE' 'NEAR' 'AAVE' 'APT'
 'MNT' 'ICP' 'TAO' 'ETC' 'TRUMP' 'OKB' 'VET' 'POL' 'KAS' 'ALGO' 'CRO'
 'RENDER' 'JUP' 'FIL' 'FDUSD' 'ARB' 'GT' 'ATOM' 'FET' 'TIA' 'DEXE' 'RAY'
 'KCS' 'OP' 'LDO' 'STX' 'INJ' 'XDC' 'IMX' 'BONK' 'ENA' 'THETA' 'S' 'GRT'
 'MOVE' 'WLD' 'FLR' 'JASMY' 'QNT' 'SEI' 'EOS' 'SAND' 'ENS' 'XTZ' 'FLOKI'
 'VIRTUAL' 'BTT' 'IOTA' 'NEXO' 'GALA' 'MKR' 'JTO' 'FLOW' 'KAIA' 'NEO'
 'BSV' 'PYTH' 'RON' 'XAUt' 'XCN' 'MELANIA' 'AXS' 'SPX' 'CRV' 'FTT' 'HNT'
 'CAKE']

In [74]:
print(df[df['symbol'] == 'DOGE'])

   id      name symbol      slug  num_market_pairs                date_added  \
7  74  Dogecoin   DOGE  dogecoin              1163  2013-12-15T00:00:00.000Z

                                                tags  max_supply  \
7  [mineable, pow, scrypt, medium-of-exchange, me...         NaN

   circulating_supply  total_supply  infinite_supply platform  cmc_rank  \
7        1.480142e+11  1.480142e+11             True     None         8

   self_reported_circulating_supply  self_reported_market_cap  tvl_ratio  \
7                               NaN                       NaN        NaN

               last_updated                                              quote
7  2025-02-12T11:55:00.000Z  {'USD': {'price': 0.2558923915155066, 'volume_...

In [75]:
doge_info = df[df['symbol'] == 'DOGE']
doge_info[['date_added','slug','tags','max_supply']]

,date_added,slug,tags,max_supply
7,2013-12-15T00:00:00.000Z,dogecoin,"[mineable, pow, scrypt, medium-of-exchange, me...",NaN

In [76]:
from requests import Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

url = 'https://sandbox-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'
parameters = {
  'start':'1',
  'limit':'5000',
  'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': api_key,
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
  
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

In [81]:
df_02 = pd.DataFrame(data['data'])
df_02

,id,name,symbol,slug,cmc_rank,num_market_pairs,circulating_supply,total_supply,max_supply,infinite_supply,last_updated,date_added,tags,platform,self_reported_circulating_supply,self_reported_market_cap,quote
0,148,dvkrp3pi4gk,j7m5xqgkx9m,vz1bwsdtg9,9909,5923,2219,8897,4667,None,2025-02-12T11:58:13.709Z,2025-02-12T11:58:13.709Z,"[4hl1aufgcf4, xb2s10y91wk, c9kv744uo9, 4ca9rxe...",None,None,None,"{'USD': {'price': 0.9026664690957915, 'volume_..."
1,4202,y58kqqpeb7b,vhsrk7pbj9,le2cd8c5wen,6496,3484,1688,4483,7578,None,2025-02-12T11:58:13.709Z,2025-02-12T11:58:13.709Z,"[pjgvtga0nr, pyns6ji6ac, wqmom75q9at, 6rdatco1...",None,None,None,"{'USD': {'price': 0.37868893786882873, 'volume..."
2,2625,k3z3324x18,4rouclq9ged,xce7i5akgar,1941,3156,80,3272,4626,None,2025-02-12T11:58:13.709Z,2025-02-12T11:58:13.709Z,"[ihlvo1vlvcl, ww9mascbc5p, h4hjr30eilq, h0dobc...",None,None,None,"{'USD': {'price': 0.742954294257909, 'volume_2..."
3,4951,7m6kahz1jmc,dt05io6455,rzmbkxwr9cj,2208,7891,6284,5177,3511,None,2025-02-12T11:58:13.709Z,2025-02-12T11:58:13.709Z,"[ojb0n5vyvq, y6ycivglx6, ukk8fc8j3l, e5hxeqi75...",None,None,None,"{'USD': {'price': 0.7761883006182058, 'volume_..."
4,8310,hoe4wkxmi3,38vkshnf4nc,2yyog8elga2,4610,5380,6204,9352,3702,None,2025-02-12T11:58:13.709Z,2025-02-12T11:58:13.709Z,"[5157wd9n5jo, gttgr0hpq9i, 6oo4w3jj706, 6pyf61...",None,None,None,"{'USD': {'price': 0.0701723464544679, 'volume_..."
5,5161,apuucykljq,r8lpdrwb4rs,yo9ab63cnx,7283,610,221,3449,425,None,2025-02-12T11:58:13.709Z,2025-02-12T11:58:13.709Z,"[31mj3k37zs3, 68o3ugaphch, 12uu8voameh, srvr5q...",None,None,None,"{'USD': {'price': 0.5615671476154482, 'volume_..."
6,5806,3um1p9luepi,b926v3fu9pk,zrdwr1084m8,5757,690,2761,2165,6259,None,2025-02-12T11:58:13.709Z,2025-02-12T11:58:13.709Z,"[661qirw8ns, xiswap08uch, 2t6n2ksgo5p, x9z6xiy...",None,None,None,"{'USD': {'price': 0.8514068972725317, 'volume_..."
7,9282,w0xk3ojgac,by39joo3t44,mdik9yh3fc,7201,1928,9887,8073,6726,None,2025-02-12T11:58:13.709Z,2025-02-12T11:58:13.709Z,"[fei9r1ips5c, coimmjeducb, qg5pb0qqh7, zomizuk...",None,None,None,"{'USD': {'price': 0.40929150801573777, 'volume..."
8,9644,gful7nn2vzg,18bwia3pp9f,i01s2hrulii,1652,212,1721,3180,5626,None,2025-02-12T11:58:13.709Z,2025-02-12T11:58:13.709Z,"[rovzzgpd1c, zh7w2ut915k, 1l6z8q80s8o, abv1idi...",None,None,None,"{'USD': {'price': 0.46771809158101196, 'volume..."
9,2196,0vefvyzzvnqo,29jpu489yfg,s47a4mtw95,921,1102,7288,8459,6495,None,2025-02-12T11:58:13.709Z,2025-02-12T11:58:13.709Z,"[vfcv2a6km7q, tyih87je1j7, 3p3bk2e2s39, bkljh5...",None,None,None,"{'USD': {'price': 0.8153857935455546, 'volume_..."

In [82]:
df_02.columns

Index(['id', 'name', 'symbol', 'slug', 'cmc_rank', 'num_market_pairs',
       'circulating_supply', 'total_supply', 'max_supply', 'infinite_supply',
       'last_updated', 'date_added', 'tags', 'platform',
       'self_reported_circulating_supply', 'self_reported_market_cap',
       'quote'],
      dtype='object')

In [83]:
df_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                10 non-null     int64
 1   name                              10 non-null     object
 2   symbol                            10 non-null     object
 3   slug                              10 non-null     object
 4   cmc_rank                          10 non-null     int64
 5   num_market_pairs                  10 non-null     int64
 6   circulating_supply                10 non-null     int64
 7   total_supply                      10 non-null     int64
 8   max_supply                        10 non-null     int64
 9   infinite_supply                   0 non-null      object
 10  last_updated                      10 non-null     object
 11  date_added                        10 non-null     object
 12  tags                              10 non-null     object
 13  platform                          0 non-null      object
 14  self_reported_circulating_supply  0 non-null      object
 15  self_reported_market_cap          0 non-null      object
 16  quote                             10 non-null     object
dtypes: int64(6), object(11)
memory usage: 1.5+ KB

In [85]:
df_02[['name','symbol','date_added','quote','total_supply']]

,name,symbol,date_added,quote,total_supply
0,dvkrp3pi4gk,j7m5xqgkx9m,2025-02-12T11:58:13.709Z,"{'USD': {'price': 0.9026664690957915, 'volume_...",8897
1,y58kqqpeb7b,vhsrk7pbj9,2025-02-12T11:58:13.709Z,"{'USD': {'price': 0.37868893786882873, 'volume...",4483
2,k3z3324x18,4rouclq9ged,2025-02-12T11:58:13.709Z,"{'USD': {'price': 0.742954294257909, 'volume_2...",3272
3,7m6kahz1jmc,dt05io6455,2025-02-12T11:58:13.709Z,"{'USD': {'price': 0.7761883006182058, 'volume_...",5177
4,hoe4wkxmi3,38vkshnf4nc,2025-02-12T11:58:13.709Z,"{'USD': {'price': 0.0701723464544679, 'volume_...",9352
5,apuucykljq,r8lpdrwb4rs,2025-02-12T11:58:13.709Z,"{'USD': {'price': 0.5615671476154482, 'volume_...",3449
6,3um1p9luepi,b926v3fu9pk,2025-02-12T11:58:13.709Z,"{'USD': {'price': 0.8514068972725317, 'volume_...",2165
7,w0xk3ojgac,by39joo3t44,2025-02-12T11:58:13.709Z,"{'USD': {'price': 0.40929150801573777, 'volume...",8073
8,gful7nn2vzg,18bwia3pp9f,2025-02-12T11:58:13.709Z,"{'USD': {'price': 0.46771809158101196, 'volume...",3180
9,0vefvyzzvnqo,29jpu489yfg,2025-02-12T11:58:13.709Z,"{'USD': {'price': 0.8153857935455546, 'volume_...",8459

In [89]:
df_02.name

#no names yet

0     dvkrp3pi4gk
1     y58kqqpeb7b
2      k3z3324x18
3     7m6kahz1jmc
4      hoe4wkxmi3
5      apuucykljq
6     3um1p9luepi
7      w0xk3ojgac
8     gful7nn2vzg
9    0vefvyzzvnqo
Name: name, dtype: object

In [91]:
df_02[['name','symbol','id']]

           name       symbol    id
0   dvkrp3pi4gk  j7m5xqgkx9m   148
1   y58kqqpeb7b   vhsrk7pbj9  4202
2    k3z3324x18  4rouclq9ged  2625
3   7m6kahz1jmc   dt05io6455  4951
4    hoe4wkxmi3  38vkshnf4nc  8310
5    apuucykljq  r8lpdrwb4rs  5161
6   3um1p9luepi  b926v3fu9pk  5806
7    w0xk3ojgac  by39joo3t44  9282
8   gful7nn2vzg  18bwia3pp9f  9644
9  0vefvyzzvnqo  29jpu489yfg  2196