In [81]:
import requests
import os
from dotenv import load_dotenv

# Ladda API-nyckeln
load_dotenv()
API_KEY = os.getenv("CMC_API_KEY")

# API Base URL
BASE_URL = "https://pro-api.coinmarketcap.com/v1/cryptocurrency/"

# Headers för API-anrop
HEADERS = {
    "Accepts": "application/json",
    "X-CMC_PRO_API_KEY": API_KEY
}

# Funktion för att hämta data från API:t
def fetch_crypto_data(endpoint, params=None):
    url = BASE_URL + endpoint  # Bygger rätt URL
    
    try:
        response = requests.get(url, headers=HEADERS, params=params)  # Skickar GET-förfrågan
        response.raise_for_status()  # Kastar fel om status inte är 200
        return response.json()  # Returnerar JSON-data
    except requests.exceptions.RequestException as e:
        print(f"Fel vid API-anrop: {e}")
        return None  # Returnera None vid fel

In [82]:
endpoint = "listings/latest"  # Vanligaste endpointen för att lista kryptovalutor
parameters = {
    'start':'1',
    'limit':'100',
    'convert':'USD'
}

data = fetch_crypto_data(endpoint, parameters)

if data:
    # Kontrollera att 'data' finns i svaret
    if 'data' in data:
        df = pd.DataFrame(data['data'])  # Skapa DataFrame från 'data'
        print(df.head())  # Skriv ut de första raderna
        print(df.columns) # Skriv ut alla kolumnnamn, väldigt viktigt för att veta vad som finns!
    else:
        print("Nyckeln 'data' hittades inte i API-svaret.")
else:
    print("Ingen data hämtades från API:et.")

     id         name symbol      slug  num_market_pairs  \
0     1      Bitcoin    BTC   bitcoin             11940
1  1027     Ethereum    ETH  ethereum              9931
2    52          XRP    XRP       xrp              1529
3   825  Tether USDt   USDT    tether            116699
4  5426       Solana    SOL    solana               840

                 date_added  \
0  2010-07-13T00:00:00.000Z
1  2015-08-07T00:00:00.000Z
2  2013-08-04T00:00:00.000Z
3  2015-02-25T00:00:00.000Z
4  2020-04-10T00:00:00.000Z

                                                tags    max_supply  \
0  [mineable, pow, sha-256, store-of-value, state...  2.100000e+07
1  [pos, smart-contracts, ethereum-ecosystem, coi...           NaN
2  [medium-of-exchange, enterprise-solutions, xrp...  1.000000e+11
3  [stablecoin, asset-backed-stablecoin, ethereum...           NaN
4  [pos, platform, solana-ecosystem, cms-holdings...           NaN

   circulating_supply  total_supply  infinite_supply  \
0        1.982406e+07  1.982406e+07            False
1        1.205478e+08  1.205478e+08             True
2        5.781886e+10  9.998645e+10            False
3        1.418052e+11  1.435668e+11             True
4        4.882893e+08  5.940776e+08             True

                                            platform  cmc_rank  \
0                                               None         1
1                                               None         2
2                                               None         3
3  {'id': 1027, 'name': 'Ethereum', 'symbol': 'ET...         4
4                                               None         5

   self_reported_circulating_supply  self_reported_market_cap  tvl_ratio  \
0                               NaN                       NaN        NaN
1                               NaN                       NaN        NaN
2                               NaN                       NaN        NaN
3                               NaN                       NaN        NaN
4                               NaN                       NaN        NaN

               last_updated                                              quote
0  2025-02-14T08:54:00.000Z  {'USD': {'price': 96862.07753091714, 'volume_2...
1  2025-02-14T08:53:00.000Z  {'USD': {'price': 2701.3048985469677, 'volume_...
2  2025-02-14T08:54:00.000Z  {'USD': {'price': 2.686873312867052, 'volume_2...
3  2025-02-14T08:54:00.000Z  {'USD': {'price': 1.0002217328494487, 'volume_...
4  2025-02-14T08:54:00.000Z  {'USD': {'price': 197.45550601005084, 'volume_...
Index(['id', 'name', 'symbol', 'slug', 'num_market_pairs', 'date_added',
       'tags', 'max_supply', 'circulating_supply', 'total_supply',
       'infinite_supply', 'platform', 'cmc_rank',
       'self_reported_circulating_supply', 'self_reported_market_cap',
       'tvl_ratio', 'last_updated', 'quote'],
      dtype='object')

In [79]:
def get_shiba_quote():
    params = {
        "symbol": "SHIB",
        "convert": "USD"
    }
    return fetch_crypto_data("quotes/latest", params)

# Hämta och skriva ut Shiba Inu-data
shiba_data = get_shiba_quote()

if shiba_data:
    import json
    print(json.dumps(shiba_data, indent=4)) 
else:
    print(" API-anropet returnerade inget data")

{
    "status": {
        "timestamp": "2025-02-14T08:24:53.743Z",
        "error_code": 0,
        "error_message": null,
        "elapsed": 53,
        "credit_count": 1,
        "notice": null
    },
    "data": {
        "SHIB": {
            "id": 5994,
            "name": "Shiba Inu",
            "symbol": "SHIB",
            "slug": "shiba-inu",
            "num_market_pairs": 932,
            "date_added": "2020-08-01T00:00:00.000Z",
            "tags": [
                "memes",
                "ethereum-ecosystem",
                "doggone-doggerel",
                "base-ecosystem"
            ],
            "max_supply": null,
            "circulating_supply": 589253883798082.1,
            "total_supply": 589507245875650.1,
            "platform": {
                "id": 1027,
                "name": "Ethereum",
                "symbol": "ETH",
                "slug": "ethereum",
                "token_address": "0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce"
            },
            "is_active": 1,
            "infinite_supply": false,
            "cmc_rank": 15,
            "is_fiat": 0,
            "self_reported_circulating_supply": null,
            "self_reported_market_cap": null,
            "tvl_ratio": null,
            "last_updated": "2025-02-14T08:24:00.000Z",
            "quote": {
                "USD": {
                    "price": 1.6549326300185958e-05,
                    "volume_24h": 272436130.7927589,
                    "volume_change_24h": -41.4401,
                    "percent_change_1h": 1.00662163,
                    "percent_change_24h": 0.52948205,
                    "percent_change_7d": 10.54176172,
                    "percent_change_30d": -22.99106013,
                    "percent_change_60d": -39.44588286,
                    "percent_change_90d": -35.36915577,
                    "market_cap": 9751754796.62632,
                    "market_cap_dominance": 0.3035,
                    "fully_diluted_market_cap": 9755947768.32,
                    "tvl": null,
                    "last_updated": "2025-02-14T08:24:00.000Z"
                }
            }
        }
    }
}

In [111]:
df.head()

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,is_active,infinite_supply,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address
0,5994,Shiba Inu,SHIB,shiba-inu,932,2020-08-01T00:00:00.000Z,"['memes', 'ethereum-ecosystem', 'doggone-dogge...",NaN,5.892539e+14,5.895073e+14,1,False,1027,Ethereum,ETH,ethereum,0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce

In [109]:
df.dtypes

id                          int64
name                       object
symbol                     object
slug                       object
num_market_pairs            int64
date_added                 object
tags                       object
max_supply                float64
circulating_supply        float64
total_supply              float64
is_active                   int64
infinite_supply              bool
platform.id                 int64
platform.name              object
platform.symbol            object
platform.slug              object
platform.token_address     object
dtype: object

In [110]:
df.describe()

,id,num_market_pairs,max_supply,circulating_supply,total_supply,is_active,platform.id
count,1.0,1.0,0.0,1.000000e+00,1.000000e+00,1.0,1.0
mean,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0
25%,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0
50%,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0
75%,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0
max,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                100 non-null    int64
 1   name                              100 non-null    object
 2   symbol                            100 non-null    object
 3   slug                              100 non-null    object
 4   num_market_pairs                  100 non-null    int64
 5   date_added                        100 non-null    object
 6   tags                              100 non-null    object
 7   max_supply                        39 non-null     float64
 8   circulating_supply                100 non-null    float64
 9   total_supply                      100 non-null    float64
 10  infinite_supply                   100 non-null    bool
 11  platform                          56 non-null     object
 12  cmc_rank                          100 non-null    int64
 13  self_reported_circulating_supply  33 non-null     float64
 14  self_reported_market_cap          33 non-null     float64
 15  tvl_ratio                         7 non-null      float64
 16  last_updated                      100 non-null    object
 17  quote                             100 non-null    object
dtypes: bool(1), float64(6), int64(3), object(8)
memory usage: 13.5+ KB

In [59]:
print(df.isnull().sum())

id                        0
name                      0
symbol                    0
slug                      0
num_market_pairs          0
date_added                0
tags                      0
max_supply                1
circulating_supply        0
total_supply              0
is_active                 0
infinite_supply           0
platform.id               0
platform.name             0
platform.symbol           0
platform.slug             0
platform.token_address    0
dtype: int64

In [107]:
import pandas as pd
import json

#Simulerar API-svar
shiba_data = {
    "id": 5994,
    "name": "Shiba Inu",
    "symbol": "SHIB",
    "slug": "shiba-inu",
    "num_market_pairs": 932,
    "date_added": "2020-08-01T00:00:00.000Z",
    "tags": ["memes", "ethereum-ecosystem", "doggone-doggerel", "base-ecosystem"],
    "max_supply": None,
    "circulating_supply": 589253898077739.6,
    "total_supply": 589507260155307.6,
    "platform": {
        "id": 1027,
        "name": "Ethereum",
        "symbol": "ETH",
        "slug": "ethereum",
        "token_address": "0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce"
    },
    "is_active": 1,
    "infinite_supply": False
}

# Skapa DataFrame direkt
df_shiba = pd.json_normalize(shiba_data)

#Spara till CSV
df_shiba.to_csv("shiba_inu_data.csv", index=False)

In [108]:
import json

# Skriv ut hela API-svaret för att se strukturen
print("API Response:", json.dumps(shiba_data, indent=4))

API Response: {
    "id": 5994,
    "name": "Shiba Inu",
    "symbol": "SHIB",
    "slug": "shiba-inu",
    "num_market_pairs": 932,
    "date_added": "2020-08-01T00:00:00.000Z",
    "tags": [
        "memes",
        "ethereum-ecosystem",
        "doggone-doggerel",
        "base-ecosystem"
    ],
    "max_supply": null,
    "circulating_supply": 589253898077739.6,
    "total_supply": 589507260155307.6,
    "platform": {
        "id": 1027,
        "name": "Ethereum",
        "symbol": "ETH",
        "slug": "ethereum",
        "token_address": "0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce"
    },
    "is_active": 1,
    "infinite_supply": false
}

In [106]:
df.tail(5)

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,is_active,infinite_supply,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address
0,5994,Shiba Inu,SHIB,shiba-inu,932,2020-08-01T00:00:00.000Z,"['memes', 'ethereum-ecosystem', 'doggone-dogge...",NaN,5.892539e+14,5.895073e+14,1,False,1027,Ethereum,ETH,ethereum,0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce

In [103]:
df.isnull().sum()

id                        0
name                      0
symbol                    0
slug                      0
num_market_pairs          0
date_added                0
tags                      0
max_supply                1
circulating_supply        0
total_supply              0
is_active                 0
infinite_supply           0
platform.id               0
platform.name             0
platform.symbol           0
platform.slug             0
platform.token_address    0
dtype: int64

In [102]:
df[df['symbol'] == 'SHIB']

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,is_active,infinite_supply,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address
0,5994,Shiba Inu,SHIB,shiba-inu,932,2020-08-01T00:00:00.000Z,"['memes', 'ethereum-ecosystem', 'doggone-dogge...",NaN,5.892539e+14,5.895073e+14,1,False,1027,Ethereum,ETH,ethereum,0x95ad61b0a150d79219dcf64e1e6cc01f0b64c4ce

In [115]:
df.describe()

,id,num_market_pairs,max_supply,circulating_supply,total_supply,is_active,platform.id
count,1.0,1.0,0.0,1.000000e+00,1.000000e+00,1.0,1.0
mean,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0
25%,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0
50%,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0
75%,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0
max,5994.0,932.0,NaN,5.892539e+14,5.895073e+14,1.0,1027.0

In [117]:
df.dtypes

id                          int64
name                       object
symbol                     object
slug                       object
num_market_pairs            int64
date_added                 object
tags                       object
max_supply                float64
circulating_supply        float64
total_supply              float64
is_active                   int64
infinite_supply              bool
platform.id                 int64
platform.name              object
platform.symbol            object
platform.slug              object
platform.token_address     object
dtype: object

In [121]:
df.columns

Index(['id', 'name', 'symbol', 'slug', 'num_market_pairs', 'date_added',
       'tags', 'max_supply', 'circulating_supply', 'total_supply', 'is_active',
       'infinite_supply', 'platform.id', 'platform.name', 'platform.symbol',
       'platform.slug', 'platform.token_address'],
      dtype='object')

In [120]:
df['symbol'].unique()

array(['SHIB'], dtype=object)

In [122]:
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json
from pprint import pprint
import os 
from dotenv import load_dotenv

load_dotenv()

API_KEY = os.getenv("CMC_API_KEY")

API_URL = "https://pro-api.coinmarketcap.com/v1/cryptocurrency/quotes/latest"

target_symbol = "BTC"

parameters = {
  'symbol': target_symbol,
  'convert':'USD'
}

headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': API_KEY,
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(API_URL, params=parameters)
  data = json.loads(response.text)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

data

{'status': {'timestamp': '2025-02-17T09:10:12.795Z',
  'error_code': 0,
  'error_message': None,
  'elapsed': 19,
  'credit_count': 1,
  'notice': None},
 'data': {'BTC': {'id': 1,
   'name': 'Bitcoin',
   'symbol': 'BTC',
   'slug': 'bitcoin',
   'num_market_pairs': 11945,
   'date_added': '2010-07-13T00:00:00.000Z',
   'tags': ['mineable',
    'pow',
    'sha-256',
    'store-of-value',
    'state-channel',
    'coinbase-ventures-portfolio',
    'three-arrows-capital-portfolio',
    'polychain-capital-portfolio',
    'binance-labs-portfolio',
    'blockchain-capital-portfolio',
    'boostvc-portfolio',
    'cms-holdings-portfolio',
    'dcg-portfolio',
    'dragonfly-capital-portfolio',
    'electric-capital-portfolio',
    'fabric-ventures-portfolio',
    'framework-ventures-portfolio',
    'galaxy-digital-portfolio',
    'huobi-capital-portfolio',
    'alameda-research-portfolio',
    'a16z-portfolio',
    '1confirmation-portfolio',
    'winklevoss-capital-portfolio',
    'usv-portfolio',
    'placeholder-ventures-portfolio',
    'pantera-capital-portfolio',
    'multicoin-capital-portfolio',
    'paradigm-portfolio',
    'bitcoin-ecosystem',
    'ftx-bankruptcy-estate',
    '2017-2018-alt-season'],
   'max_supply': 21000000,
   'circulating_supply': 19825487,
   'total_supply': 19825487,
   'is_active': 1,
   'infinite_supply': False,
   'platform': None,
   'cmc_rank': 1,
   'is_fiat': 0,
   'self_reported_circulating_supply': None,
   'self_reported_market_cap': None,
   'tvl_ratio': None,
   'last_updated': '2025-02-17T09:08:00.000Z',
   'quote': {'USD': {'price': 96147.29592280064,
     'volume_24h': 20711742806.784313,
     'volume_change_24h': 30.8949,
     'percent_change_1h': 0.12021535,
     'percent_change_24h': -1.03900424,
     'percent_change_7d': -1.72184586,
     'percent_change_30d': -6.78902983,
     'percent_change_60d': -5.47533636,
     'percent_change_90d': 4.61917162,
     'market_cap': 1906166965402.637,
     'market_cap_dominance': 59.6909,
     'fully_diluted_market_cap': 2019093214378.81,
     'tvl': None,
     'last_updated': '2025-02-17T09:08:00.000Z'}}}}}